<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="<%= cssFile %>" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <nav id="nav">
        <a href="/">home</a>
        <a href="/crypto/getPrices">prices</a>
    </nav>
    <h1 class="title">WELCOME</h1>
    <h1 class="title">TO</h1>
    <h3 class="title">REAL TIME CRYPTOCURRENCY</h3>
    <h3 class="title">PRICE MONITOR & ALERTING SYSTEM</h3>
</body>
</html>